<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommender</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>

  <div class="recommender-container">
    <h2>HarmoniFind</h2>
  </div>

  <form action="/recommend" method="post">
    <div class="search-container">
      <label for="song_name">Enter a song:</label>
      <input type="text" id="song_name" name="song_name" 
             autocomplete="off" required
             placeholder="Start typing a song name...">
      <div id="suggestions"></div>
    </div>

    <input type="hidden" name="selected_features" id="selected_features_input">

    <h3>Select song attributes to find similar songs:</h3>
    <div id="feature-buttons">
      <button type="button" class="feature-button" data-feature="Danceability">Danceability</button>
      <button type="button" class="feature-button" data-feature="Energy">Energy</button>
      <button type="button" class="feature-button" data-feature="Tempo">Tempo</button>
      <button type="button" class="feature-button" data-feature="Acousticness">Acousticness</button>
      <button type="button" class="feature-button" data-feature="Instrumentalness">Instrumentalness</button>
      <button type="button" class="feature-button" data-feature="Loudness">Loudness</button>
      <button type="button" class="feature-button" data-feature="Key">Key</button>
    </div>

    <div id="submit-button">
      <button type="submit">Find Similar Songs</button>
    </div>


  </form>

  <div class="auth-buttons">
    <a class="button" href="/register">Register</a>
    <a class="button" href="/login">Login</a>
  </div>
  {% if similar_songs %}
  <div class="results-container">
    <h2>Similar Songs to "{{ song_name }}"</h2>
    <ul class="similar-songs-list">
      {% for song in similar_songs %}
      <li class="song-item">
        {{ song.song }} by {{ song.artist }} - Similarity: {{ song.similarity }}
        <div class="feedback-buttons">
          <!--<button class="feedback-btn like-btn" onclick="sendFeedback('{{ song_name }}', '{{ song.song }}', 1)">👍</button>
          <button class="feedback-btn dislike-btn" onclick="sendFeedback('{{ song_name }}', '{{ song.song }}', 0)">👎</button>-->
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</body>
</html>